/*  your css code here. If applicable */
#animal-photos{
	background-color:rgb(0,2,44,9);

}
#image-container{
	padding:20px;
}
#photo-heading{
	color:white;
	text-align:center;
}
img{
	border-radius:20px;
	padding:8px;
}
